obj/Debug/net10.0-windows10.0.19041.0/win-x64/FIsioNet.AssemblyInfoInputs.cache
obj/Debug/net10.0-windows10.0.19041.0/win-x64/apphost.exe
bin/Debug/net10.0-windows10.0.19041.0/win-x64/FIsioNet.pdb
bin/Debug/net10.0-windows10.0.19041.0/win-x64/FIsioNet.exe
.vs/FIsioNet.slnx/v18/.suo
.vs/FIsioNet.slnx/FileContentIndex/c5bb57a0-3cff-4038-bed2-96f16f326fbf.vsidx
.vs/FIsioNet.slnx/FileContentIndex/5b4f1c57-b602-4c8d-97dc-70513d1a292c.vsidx
.vs/FIsioNet.slnx/FileContentIndex/5b4f1c57-b602-4c8d-97dc-70513d1a292c.vsidx
.vs/FIsioNet.slnx/FileContentIndex/b9e5f741-395d-485c-aa1b-5c8cdb67141c.vsidx
.vs/FIsioNet.slnx/FileContentIndex/00a3f46e-bf86-4f1f-8cd1-2686ba858b78.vsidx
.vs/FIsioNet.slnx/FileContentIndex/00a3f46e-bf86-4f1f-8cd1-2686ba858b78.vsidx
.vs/FIsioNet.slnx/FileContentIndex/0f561a60-f33d-4d90-b761-f6b1ec300b8e.vsidx
.vs/FIsioNet.slnx/FileContentIndex/00a3f46e-bf86-4f1f-8cd1-2686ba858b78.vsidx
.vs/FIsioNet.slnx/FileContentIndex/00a3f46e-bf86-4f1f-8cd1-2686ba858b78.vsidx
.vs/FIsioNet.slnx/FileContentIndex/00a3f46e-bf86-4f1f-8cd1-2686ba858b78.vsidx
.vs/FIsioNet.slnx/v18/.suo
/bin
/.vs
